# Allow access and enforce correct MIME types for PHP / Apache servers
<IfModule mod_mime.c>
  AddType application/javascript .js .mjs
  AddType text/css .css
  AddType image/png .png
  AddType image/jpeg .jpg .jpeg
  AddType image/svg+xml .svg
</IfModule>

# Handle Single Page App routing if needed
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
